@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgb(59 130 246);
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}