@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgb(59 130 246);
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}